body {
  background-color:#40587F
}

.container div {
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 138px;
  margin-bottom: 75px;
}

#display-button {
  margin-bottom: 50px;
  font-family: arial, sans-serif;
  font-size: 24px;
  color: #FFF;
  background-color: #111;
  padding: 10px 15px;
  margin-left: 475px;
  cursor:pointer;
}

button:hover {
  background: #888;
  color:#222;
}
